
body{
    background-color: rgba(253, 252, 252, 0.842);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fdfafae8;
    color: rgb(12, 12, 12);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
    height: fit-content;
}

.logo {
    font-size: 30px;
    font-weight: bold;
    padding-left: 2%;
    margin-top: -1%;
    color: rgba(137, 43, 226, 0.89);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.search-bar{
    padding-top: 5%;
    margin-top: -5%;
    margin-left: 120px;
}
.line{
    font-size: 30px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 15px;
    padding-top: 5%;
    margin-top: -4%;
    padding-left: 100px;
    margin-left: 50px;
    
    

}

.nav-links li {
    display: inline;
}

.nav-links a {
    color: rgb(8, 8, 8);
    text-decoration: none;
    padding: 5px 10px;
    
}

.nav-links a:hover {
    background-color: #f1eeee;
    border-radius: 5px;
}

.search-bar input {
    padding: 5px;
    border-color: blueviolet;
    border-radius: 5px;
}
#filter{
    border-color: blueviolet;
    border-radius: 5px;
    border-style: solid;
}
.socialicons{
    margin-top: -1%;
}
.socialicon a {
    margin: 5% 2%;
    padding-top: 10%;
    margin-right: 7%;
}

.socialicon i{
    width: 25px;
    height: 25px;
    font-size: 23px;
    color: blueviolet;
    padding-top: 12%;
}

.sign-up-btn, .log-in-btn {
    color: rgb(5, 5, 5);
    border-color:blueviolet ;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: white;
    font-size: 12px;

   
    
}
.sign-up-btn:hover, .log-in-btn:hover {
    background-color: #f1eeee;
}
.sign-up-btn:hover, .log-in-btn:hover {
    background-color: #f1eeee;
}
.mian{
    width: 400px;
    height: 500px;
    margin: auto;
   margin-top: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
    padding: 50px;
    justify-content: center;
    align-items: center;

}
h2{
    text-align: center;
}
.input_box input{
    margin: 10px;
    width: 295px;
}
.select{
    margin-left: 5%;
}
#Mobile{
    width: 140px;
}
.btn{
    width: 298px;
    cursor: pointer;
    padding: 5px;
    border-color: darkmagenta;
}
.btn:hover{
    width: 298px;
    border-color: darkmagenta;
}
footer{
    margin-top:5%;
    background-color: white;
    margin-top: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
    padding: 20px;
  
    margin: 30px;
    

}
.footer-h3{
    color: blueviolet;
    font-size: 30px;
    padding-top: 5%;
    padding-left: 10%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.footer-p{
    text-align: justify;
    font-size: 15px;
    padding-left: 10%;
    color: black;
    opacity: 70%;
}
.copy-right{
text-align: justify;
opacity: 50%;
font-size: 15px;
padding-left: 10%;
padding-right: 5%;
}
#footer-social li{
    list-style: none;
    margin-top: 8%;
}
.fa{
    color: blueviolet;
}
.fa-brands{
    color:blueviolet;
    font-size: 20px;
    padding: 2%;
    transition: all 0.5s;
    margin-bottom: 2%;
    margin-top: -10%;
}
.fa-brands:hover{
    color:  rgba(255, 255, 255, 0.651);
    transform: scale(1.1);
}
.socialicon{
    margin-left: 8%;}

